h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
p {
  text-align: center;
}
div[id="1"] {
  background-image: url(../images/h_img.jpg);
  background-position: center;
}
img[id="im1"] {
  margin-left: 46%;
  margin-top: 10%;
}
img[id="im2"] {
  margin-left: 48%;
  margin-top: 10%;
}
