h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
p {
  text-align: center;
  font-size: 15px;
}
div[id="1"] {
  background-image: url(../images/h_img.jpg);
  background-position: center;
  background-size: 100%,100%;
  background-repeat: no-repeat;
  color: white;
}
img[id="im1"] {
  margin-left: 46%;
  margin-top: 10%;
  margin-bottom: 5%;
}
img[id="im2"] {
  margin-left: 49%;
  margin-top: 10%;
  margin-bottom: 5%;
}
div {
  margin-bottom: 2%;
}
div[id="3"] {
  background-image: url(../images/s_image.jpg);
  background-size: 100%,100%;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}
div[id="4"] {
  background-image: url(../images/c_image.jpg);
  background-size: 100%,100%;
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
}
input {
  border-radius: 5px;
}
input[id="name"] {
  width: 25%;
}
textarea {
  border-radius: 5px;
}
input[id="email"] {
  width: 25%;
}
div[id="social"] {
  margin-left: 35%;
}
img[id="right"] {
  float: right;
  margin-right: 15%;
}
img[id="middle"] {
  margin-left: 25%;
  
}
img[id="left"] {
  margin-left: 15%;
}